.header-container {
   padding: 15px 20px;
   box-shadow: var(--header-box-shadow);

   display: flex;
   justify-content: space-between;

   .right {
      display: flex;
      gap: 20px;

      a {
         text-decoration: none;
         display: flex;
         align-items: center;
         color: var(--text-color);
      }

      p {
         margin-left: 10px;
         font-size: 18px;
      }

   }
}