:root[theme-color='light'] {
   --text-secondary-color: #404756;
   --text-primary-color: #23272f;
}

:root[theme-color='dark'] {
   --text-secondary-color: #c7c7c7;
   --text-primary-color: #c7c7c7;
}